/*
* @description: 通用模块样式库  
* @author: wyf  
* @email: 707366656@qq.com
* @time: 2015-08-29
*/

/* 布局 */
.ui-container{
	width: 1000px;
	margin: 0 auto;
}

/* 头部样式 */
.ui-header{
	background: #ffffff;
}
.ui-topbar{
	height: 39px;
	line-height: 39px;
	background: #f6f6f6;
	border-bottom: 1px solid #e5e5e5;
	font-size: 13px;
}
.ui-topbar .span-phone{
	color: #cc9966;
}
.ui-topbar .icon-phone{
	display: inline-block;
	width: 19px;
	height: 19px;
	background: url("../images/common/icon-phone.png") no-repeat;
	vertical-align: -4px;
	margin-right: 5px;
}
.ui-topbar .nav-link li{
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	background: url("../images/common/navLink_line.png") no-repeat right center;
}
.ui-topbar .nav-link li.last{
	padding-right: 0px;
	background: none;
}
.ui-topbar .nav-link li .icon-niu{
	display: inline-block;
	width: 19px;
	height: 19px;
	background: url("../images/common/icon_niu.png") no-repeat;
	vertical-align: -4px;
	margin-right: 5px;
}
.ui-header-main{
	height: 100px;
}
.ui-header-logo{
	display: inline-block;
	width: 300px;
	height: 100px;
	background: url("../images/common/logo.png") no-repeat;
	float: left;
}
.ui-nav{
	float: left;
	width: 582px;
	padding-left: 118px;
	padding-top: 55px;
}
.ui-nav li{
	float: left;
	margin-left: 20px;
}
.ui-nav li a{
	font-size: 17px;
}