/*
* @description: 通用模块样式库  
* @author: wyf  
* @email: 707366656@qq.com
* @time: 2015-08-29
*/

/* 背景颜色 */
.bgc-white{
	background-color: #ffffff;
}

/* 布局 */
.ui-container{
	width: 1000px;
	margin: 0 auto;
}

/* 头部样式 */
.ui-header{
	background: #ffffff;
}
.ui-topbar{
	height: 39px;
	line-height: 39px;
	background: #f6f6f6;
	border-bottom: 1px solid #e5e5e5;
	font-size: 13px;
    color: #999999;
}
.ui-topbar .icon-phone{
	display: inline-block;
	width: 13px;
	height: 13px;
	background: url("../images/common/icon-phone.png") no-repeat;
	vertical-align: -2px;
	margin-right: 5px;
}
.ui-topbar .nav-link li.item{
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	background: url("../images/common/navLink_line.png") no-repeat right center;
    position: relative;
}
.ui-topbar .nav-link li.item a{
    color: #999999;
}
.ui-topbar .nav-link li.item a:hover{
    color: #00afeb;
}
.ui-topbar .nav-link li.item.last{
	padding-right: 0px;
	background: none;
}
.ui-topbar .nav-link li.item .icon-user{
	display: inline-block;
	width: 14px;
	height: 14px;
	background: url("../images/common/icon-user.png") no-repeat;
	vertical-align: -2px;
	margin-right: 5px;
}
.ui-topbar .nav-link li.item .icon-arrow{
    display: inline-block;
    width: 7px;
    height: 4px;
    background: url("../images/common/icon-arrow.png") no-repeat;
    vertical-align: 1px;
    margin-left: 5px;
}
.ui-topbar .nav-link li.cur .icon-arrow{
    display: inline-block;
    width: 7px;
    height: 4px;
    background: url("../images/common/icon-arrow2.png") no-repeat;
    vertical-align: 1px;
    margin-left: 5px;
}
.ui-topbar .nav-link li.cur a{
    color: #00afeb;
}
.ui-topbar .nav-link li.item .icon-kefu{
    display: inline-block;
    width: 16px;
    height: 14px;
    background: url("../images/common/icon-kefu.png") no-repeat;
    vertical-align: -2px;
    margin-right: 5px;
}
.ui-topbar .nav-link li.item .icon-msg{
    display: inline-block;
    width: 13px;
    height: 16px;
    background: url("../images/common/icon-lingdang.png") no-repeat;
    vertical-align: -3px;
    margin-right: 5px;
}
.ui-topbar .nav-link .user-menu {
    background: #ffffff none repeat scroll 0 0;
    display: none;
    position: absolute;
    right: 0;
    top: 36px;
    width: 110px;
    z-index: 100;
    border: 1px solid #cbcbcb;
}
.ui-topbar .nav-link .user-menu .top {
    background: #f1f1f1 none repeat scroll 0 0;
    height: 50px;
}
.ui-topbar .nav-link .user-menu .top img {
    border-radius: 50%;
    height: 40px;
    margin-left: 12px;
    margin-top: 5px;
    width: 40px;
}
.ui-topbar .nav-link .user-menu .top .loginout {
    color: #e9460b;
    display: block;
    height: 50px;
    line-height: 50px;
    margin-left: 15px;
}
.ui-topbar .nav-link .user-menu ul {
    padding: 10px 0;
}
.ui-topbar .nav-link .user-menu ul li {
    height: 36px;
    line-height: 36px;
    padding-left: 15px;
}
.ui-topbar .nav-link .user-menu ul li a {
    color: #707070;
}
.ui-topbar .nav-link .user-menu ul li a:hover {
    color: #00afeb;
}
.ui-topbar .nav-link .user-menu ul li .icon-ucenter {
    display: inline-block;
    background: url("../images/common/icon-ucenter.png") no-repeat;
    height: 16px;
    margin-right: 5px;
    vertical-align: -3px;
    width: 16px;
}
.ui-topbar .nav-link .user-menu ul li .icon-recharge {
    display: inline-block;
    background: url("../images/common/icon-recharge.png") no-repeat;
    height: 16px;
    margin-right: 5px;
    vertical-align: -3px;
    width: 16px;
}
.ui-topbar .nav-link .user-menu ul li .icon-touzi {
    display: inline-block;
    background: url("../images/common/icon-touzi.png") no-repeat;
    height: 16px;
    margin-right: 5px;
    vertical-align: -3px;
    width: 16px;
}
.ui-topbar .nav-link .user-menu ul li .icon-assets {
    display: inline-block;
    background: url("../images/common/icon-assets.png") no-repeat;
    height: 16px;
    margin-right: 5px;
    vertical-align: -3px;
    width: 16px;
}

.ui-header-main{
	height: 100px;
}
.ui-header-logo{
	display: inline-block;
	width: 300px;
	height: 100px;
	background: url("../images/common/logo.png") no-repeat;
	float: left;
}
.ui-nav{
	float: left;
	width: 595px;
	margin-left: 105px;
	padding-top: 55px;
}
.ui-nav li.item{
	float: left;
	margin-left: 20px;
    padding-bottom: 15px;
}
.ui-nav li.item a{
	font-size: 17px;
}
.ui-nav li.item a:hover{
    color: #e9460b;
}
.ui-nav li.subitem{
    position: relative;
}
.ui-nav li.item .sublist{
    position: absolute;
    top: 30px;
    left: -20px;
    width: 114px;
    border: 1px solid #d6d6d6;
    z-index: 100;
    background: #ffffff;
}
.ui-nav li.item .sublist li{
    padding-left: 4px;
    padding-right: 4px;
}
.ui-nav li.item .sublist li:hover{
    background: #f1f1f1;
}
.ui-nav li.item .sublist li a{
    display: inline-block;
    height: 36px;
    line-height: 36px;
    border-bottom: 1px solid #f3f3f3;
    text-align: center;
    width: 100%;
    font-size: 14px;
}
.ui-nav li.item .arrow{
    display: inline-block;
    width: 9px;
    height: 5px;
    background: url("../images/common/icon-navarrow2.png") no-repeat;
    margin-left: 3px;
    vertical-align: 2px;
}
.ui-nav li.subitem .arrow{
    display: inline-block;
    width: 9px;
    height: 5px;
    background: url("../images/common/icon-navarrow.png") no-repeat;
    margin-left: 3px;
    vertical-align: 2px;
}

/* 底部 */
.ui-footer {
    background: #363b3f none repeat scroll 0 0;
    width: 100%;
}
.ui-footer .foot-kefu {
    float: left;
    height: 129px;
    margin-top: 30px;
    padding-right: 20px;
}
.ui-footer .site-link {
    display: inline;
    float: left;
    height: 164px;
    padding: 30px 25px 0;
    width: 391px;
}
.ui-footer .site-link a {
    color: #7d8390;
}
.ui-footer .site-link a:hover {
    color: #316fb1;
}
.ui-footer .site-link ul li {
    float: left;
    height: 35px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0 12px;
    width: 66px;
}
.ui-footer .site-link ul li a:hover {
    color: #fff;
}
.ui-footer .site-link .qun {
    color: #7d8390;
    padding-left: 32px;
}
.ui-footer .foot-ewm {
    float: right;
    height: 124px;
    margin-top: 30px;
}
.ui-footer .foot-ewm dl {
    color: #7d8390;
    float: left;
    line-height: 20px;
    padding-left: 44px;
    text-align: center;
    width: 101px;
}
.ui-footer .footer-contact a, .ui-footer .footer-contact i {
    float: left;
}
.ui-footer .footer-contact .sp1-weibo {
    position: relative;
    top: 2px;
}
.ui-footer .footer-contact .sp1-weixin {
    position: relative;
    top: 3px;
}
.ui-footer .footer-contact .sp1-email {
    position: relative;
    top: 6px;
}
.ui-footer .weixin-wrap {
    float: left;
    position: relative;
}
.ui-footer .footer-online {
    float: left;
    margin-left: 5px;
    margin-right: 20px;
}
.ui-footer .weixin-wrap i {
    cursor: pointer;
}
.ui-footer .ui-poptip-white {
    bottom: 22px;
    display: none;
    left: -31px;
    position: absolute;
}
.ui-footer .ui-poptip-content {
    padding: 10px;
}
.ui-footer .ui-poptip-arrow {
    right: 52px;
}
.ui-footer .app-link {
    float: right;
}
.ui-footer .footer-bottom {
    background: #404549 none repeat scroll 0 0;
    height: 55px;
}
.ui-footer .auth-link {
    float: left;
    margin-top: 18px;
}
.ui-footer .copyright {
    color: #707e8c;
    float: right;
    font-size: 14px;
    margin-left: 20px;
}
.ui-footer .copyright a {
    color: #707e8c;
}
.ui-footer .copyright a:hover {
    color: #fff;
}
.ui-footer .copyright .p1 {
    line-height: 20px;
    margin-top: 18px;
}
.ui-footer .copyright .copyright-left {
    display: inline-block;
    text-align: left;
    width: 350px;
}
.ui-footer .auth-link-item {
    display: block;
    float: left;
    height: 24px;
    margin-right: 3px;
    margin-top: 28px;
}
.ui-footer .auth-link-item i {
    display: block;
}
.ui-footer .footer-bottom-simple {
    background: #333 none repeat scroll 0 0;
    height: 40px;
    line-height: 40px;
}
.ui-footer .footer-bottom-simple .copyright {
    float: none;
    text-align: center;
}
.friend-link {
    border-bottom: 1px solid #575c63;
    padding-bottom: 25px;
    padding-top: 35px;
}
.friend-link span {
    color: #ffffff;
    display: inline-block;
    float: left;
    text-align: center;
    width: 100px;
}
.friend-link ul {
    float: left;
    width: 900px;
}
.friend-link ul li {
    float: left;
    margin-bottom: 17px;
    margin-left: 15px;
    margin-right: 15px;
}
.friend-link ul li a {
    color: #7d8390;
}
.friend-link ul li a:hover {
    color: #ffffff;
}
.icon-sp1-new {
    background-image: url("../images/common/sp1-foot.png");
    display: inline-block;
    font-size: 0;
}
.sp1-new-footkefu {
    background-position: -8px -9px;
    height: 115px;
    width: 247px;
}
.sp1-new-wx-ewm {
    background-position: -10px -156px;
    height: 94px;
    width: 94px;
}
.sp1-new-phone-ewm {
    background-position: -117px -156px;
    height: 94px;
    width: 94px;
}
.footer-bottom .auth-link a {
    display: block;
    float: left;
    height: 24px;
    margin-right: 5px;
    width: 60px;
}
.footer-bottom .auth-link a.vficon {
    background: rgba(0, 0, 0, 0) url("../images/common/icon-verification.png") no-repeat scroll 0 0;
}
.footer-bottom .auth-link a.icon-norton {
    background-position: -152px -30px;
    height: 24px;
    width: 60px;
}
.footer-bottom .auth-link a.icon-norton:hover {
    background-position: -152px 0;
}
.footer-bottom .auth-link a.icon-chengxin {
    background-position: -216px -30px;
    height: 24px;
    width: 70px;
}
.footer-bottom .auth-link a.icon-chengxin:hover {
    background-position: -216px 0;
}
.footer-bottom .auth-link a.icon-360safe {
    background-position: -81px -30px;
    height: 24px;
    width: 66px;
}
.footer-bottom .auth-link a.icon-360safe:hover {
    background-position: -81px 0;
}
.footer-bottom .auth-link a.icon-icp {
    background-position: 0 -30px;
    height: 24px;
    width: 77px;
}
.footer-bottom .auth-link a.icon-icp:hover {
    background-position: 0 0;
}

/* 投标进度 */
.ui-rate{
	display: inline-block;
    height: 34px;
    position: relative;
    vertical-align: middle;
    width: 120px;
    margin-left: 2px;
}
.ui-rate .progressBar{
	display: block;
    left: 0;
    position: absolute;
    top: 14px;
    background-color: #caebf4;
}
.ui-rate .progressBar,.ui-rate .progressBar .barIn{
	border-radius: 2px;
    font-size: 0;
    height: 6px;
    line-height: 6px;
    text-align: left;
    vertical-align: middle;
    width: 120px;
}
.ui-rate .progressBar .barIn{
	background-color: #00afeb;
    display: inline-block;
}

/* 按钮组件 */
.ui-button{
	border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    outline: 0 none;
    padding: 0 15px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}
.ui-button:hover {
    text-decoration: none;
}
.ui-button-small {
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    min-width: 50px;
}
.ui-button-mid {
    font-size: 14px;
    height: 33px;
    line-height: 33px;
    min-width: 50px;
    text-align: center;
}
.ui-button-large {
    font-size: 16px;
    height: 34px;
    line-height: 34px;
    min-width: 50px;
    text-align: center;
}

/* 红色 - 立即投资 */
.ui-button-red {
    background-color: #e9460b;
    border: medium none;
    color: #fff;
}
.ui-button-red:hover {
    background-color: #e9460b;
}
a.ui-button-red, a.ui-button-red:active, a.ui-button-red:hover {
    color: #fff;
}

/* 橙色 - 即将发布 */
.ui-button-orange {
    background-color: #fa8d19;
    border: medium none;
    color: #fff;
}
.ui-button-orange:hover {
    background-color: #fa8d19;
}
a.ui-button-orange, a.ui-button-orange:active, a.ui-button-orange:hover {
    color: #fff;
}

/* 深红 - 已满标 */
.ui-button-russetish {
    background-color: #a32d08;
    border: medium none;
    color: #fff;
}
.ui-button-russetish:hover {
    background-color: #a32d08;
}
a.ui-button-russetish, a.ui-button-russetish:active, a.ui-button-russetish:hover {
    color: #fff;
}

/* 浅蓝 - 流标 */
.ui-button-blue {
    background-color: #b8bbde;
    border: medium none;
    color: #fff;
}
.ui-button-blue:hover {
    background-color: #b8bbde;
}
a.ui-button-blue, a.ui-button-blue:active, a.ui-button-blue:hover {
    color: #fff;
}

/* 深蓝 - 还款中 */
.ui-button-hkz {
    background-color: #ffffff;
    border: medium none;
    color: #454985;
    border: 1px solid #b8bbde;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    outline: 0 none;
    text-decoration: none;
    vertical-align: middle;
    width: 195px;
    height: 33px;
    line-height: 33px;
}
.ui-button-hkz:hover {
    background-color: #ffffff;
}
a.ui-button-hkz, a.ui-button-hkz:active, a.ui-button-hkz:hover {
    color: #454985;
}
.ui-button-hkz span.statusL{
    display: inline-block;
    width: 42px;
    height: 27px;
    background: url("../images/index/btn-gray2.png") no-repeat 4px 0px;
    margin-top: 2px;
    border-right:1px solid #b8bbde;
    float: left;
}
.ui-button-hkz span.statusR{
    display: inline-block;
    width: 150px;
    height: 33px;
    line-height: 33px;
    float: left;
    text-align: center;
}

/* 灰色 - 已还清 */
.ui-button-yhq {
    background-color: #ffffff;
    border: medium none;
    color: #c2c3d2;
    border: 1px solid #b8bbde;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    outline: 0 none;
    text-decoration: none;
    vertical-align: middle;
    width: 195px;
    height: 33px;
    line-height: 33px;
}
.ui-button-yhq:hover {
    background-color: #ffffff;
}
a.ui-button-yhq, a.ui-button-yhq:active, a.ui-button-yhq:hover {
    color: #c2c3d2;
}
.ui-button-yhq span.statusL{
    display: inline-block;
    width: 42px;
    height: 27px;
    background: url("../images/index/btn-gray.png") no-repeat 4px 0px;
    margin-top: 2px;
    border-right:1px solid #b8bbde;
    float: left;
}
.ui-button-yhq span.statusR{
    display: inline-block;
    width: 150px;
    height: 33px;
    line-height: 33px;
    float: left;
    text-align: center;
}

/* 分页 */
.ui-paging{
    display: inline-block;
}
.ui-paging a{
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 26px;
    height: 26px;
    display: inline-block;
    border: 1px solid #d4d4d4;
    border-radius:4px; 
}
.ui-paging span.current {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 26px;
    height: 26px;
    display: inline-block;
    border-radius:4px; 
    background: #e9460b;
    border: 1px solid #e9460b;
    color: #ffffff;
    
}
.ui-paging a,.ui-paging span.current{
    margin-left: 10px;
}
.ui-paging a.prev,.ui-paging a.next{
    padding-left: 0px;
    padding-right: 0px;
}
.ui-paging a.prev .prevL{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-right: 1px solid #d4d4d4;
    margin-top: 3px;
    background: url("../images/common/page_left.png") no-repeat;
    float: left;
}
.ui-paging a.prev .prevR{
    display: inline-block;
    float: right;
    padding-left: 10px;
    padding-right: 10px;
}
.ui-paging a.next .nextL{
    display: inline-block;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}
.ui-paging a.next .nextR{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-left: 1px solid #d4d4d4;
    margin-top: 3px;
    background: url("../images/common/page_right.png") no-repeat;
    float: right;
}