/*
* @description: 通用模块样式库  
* @author: wyf  
* @email: 707366656@qq.com
* @time: 2015-08-29
*/

/* 背景颜色 */
.bgc-white{
	background-color: #ffffff;
}

/* 布局 */
.ui-container{
	width: 1000px;
	margin: 0 auto;
}

/* 头部样式 */
.ui-header{
	background: #ffffff;
}
.ui-topbar{
	height: 39px;
	line-height: 39px;
	background: #f6f6f6;
	border-bottom: 1px solid #e5e5e5;
	font-size: 13px;
}
.ui-topbar .span-phone{
	color: #cc9966;
}
.ui-topbar .icon-phone{
	display: inline-block;
	width: 19px;
	height: 19px;
	background: url("../images/common/icon-phone.png") no-repeat;
	vertical-align: -4px;
	margin-right: 5px;
}
.ui-topbar .nav-link li{
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	background: url("../images/common/navLink_line.png") no-repeat right center;
}
.ui-topbar .nav-link li.last{
	padding-right: 0px;
	background: none;
}
.ui-topbar .nav-link li .icon-niu{
	display: inline-block;
	width: 19px;
	height: 19px;
	background: url("../images/common/icon_niu.png") no-repeat;
	vertical-align: -4px;
	margin-right: 5px;
}
.ui-header-main{
	height: 100px;
}
.ui-header-logo{
	display: inline-block;
	width: 300px;
	height: 100px;
	background: url("../images/common/logo.png") no-repeat;
	float: left;
}
.ui-nav{
	float: left;
	width: 582px;
	padding-left: 118px;
	padding-top: 55px;
}
.ui-nav li{
	float: left;
	margin-left: 20px;
}
.ui-nav li a{
	font-size: 17px;
}

/* 底部 */
.ui-footer{
	height: 519px;
	background: url("../images/common/footer_bg.png") no-repeat center;
}

/* 投标进度 */
.ui-rate{
	display: inline-block;
    height: 34px;
    position: relative;
    vertical-align: middle;
    width: 120px;
}
.ui-rate .progressBar{
	display: block;
    left: 0;
    position: absolute;
    top: 14px;
    background-color: #f5edd8;
}
.ui-rate .progressBar,.ui-rate .progressBar .barIn{
	border-radius: 2px;
    font-size: 0;
    height: 6px;
    line-height: 6px;
    text-align: left;
    vertical-align: middle;
    width: 120px;
}
.ui-rate .progressBar .barIn{
	background-color: #c0a353;
    display: inline-block;
}

/* 按钮组件 */
.ui-button{
	border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    outline: 0 none;
    padding: 0 15px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}
.ui-button:hover {
    text-decoration: none;
}
.ui-button-small {
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    min-width: 50px;
}
.ui-button-mid {
    font-size: 14px;
    height: 33px;
    line-height: 33px;
    min-width: 50px;
    text-align: center;
}
.ui-button-large {
    font-size: 16px;
    height: 34px;
    line-height: 34px;
    min-width: 50px;
    text-align: center;
}

/* 红色 - 立即投资 */
.ui-button-red {
    background-color: #fa4f19;
    border: medium none;
    color: #fff;
}
.ui-button-red:hover {
    background-color: #fa4f19;
}
a.ui-button-red, a.ui-button-red:active, a.ui-button-red:hover {
    color: #fff;
}

/* 橙色 - 即将发布 */
.ui-button-orange {
    background-color: #fa8d19;
    border: medium none;
    color: #fff;
}
.ui-button-orange:hover {
    background-color: #fa8d19;
}
a.ui-button-orange, a.ui-button-orange:active, a.ui-button-orange:hover {
    color: #fff;
}

/* 深红 - 已满标 */
.ui-button-russetish {
    background-color: #a32d08;
    border: medium none;
    color: #fff;
}
.ui-button-russetish:hover {
    background-color: #a32d08;
}
a.ui-button-russetish, a.ui-button-russetish:active, a.ui-button-russetish:hover {
    color: #fff;
}

/* 浅蓝 - 已还清 */
.ui-button-blue {
    background-color: #b8bbde;
    border: medium none;
    color: #fff;
}
.ui-button-blue:hover {
    background-color: #b8bbde;
}
a.ui-button-blue, a.ui-button-blue:active, a.ui-button-blue:hover {
    color: #fff;
}

/* 深蓝 - 还款中 */
.ui-button-deepBlue {
    background-color: #454985;
    border: medium none;
    color: #fff;
}
.ui-button-deepBlue:hover {
    background-color: #454985;
}
a.ui-button-deepBlue, a.ui-button-deepBlue:active, a.ui-button-deepBlue:hover {
    color: #fff;
}

/* 灰色 - 流标 */
.ui-button-gray {
    background-color: #d4d4d4;
    border: medium none;
    color: #fff;
}
.ui-button-gray:hover {
    background-color: #d4d4d4;
}
a.ui-button-gray, a.ui-button-gray:active, a.ui-button-gray:hover {
    color: #fff;
}