/*
* @description: 详情模块样式库  
* @author: wyf  
* @email: 707366656@qq.com
* @time: 2015-09-3
*/

/* 面包屑导航 */
.ui-crumb{
	height: 27px;
	line-height: 27px;
	color: #4c4949; 
}
.ui-crumb .icon-weizhi{
	display: inline-block;
	width: 15px;
	height: 19px;
	background: url("../../images/detail/icon-weizhi.png") no-repeat;
	margin-right: 5px;
	vertical-align: -4px;
}

/* 项目标题 */
.ui-tit{
	height: 59px;
	line-height: 58px;
	border-bottom: 1px solid #dcdcdc;
	padding-left: 20px;
	color: #333;
}

.ui-tit .icon-jsq{
	display: inline-block;
	width: 19px;
	height: 19px;
	background: url("../../images/detail/icon-jsq.png") no-repeat;
	vertical-align: -3px;
}

.ui-detailTop .detailTopL{
	float: left;
	width: 669px;
	height: 317px;
	border: 1px solid #e9e9e9;
}
.ui-detailTop .detailTopR{
	float: right;
	width: 313px;
	height: 317px;
	border: 1px solid #e9e9e9;
}

/* 项目属性 */
.ui-attr1 li{
	float: left;
	padding-left: 25px;
}
.ui-attr1 li .red{
	color: #f15000;
}
.ui-attr1 li p.p1{
	font-weight: bold;
}
.ui-attr1 li.l1{
	width: 170px;
}
.ui-attr1 li.l2{
	width: 185px;
	border-left: 1px solid #dcdcdc;
}
.ui-attr1 li.l3{
	width: 155px;
	border-left: 1px solid #dcdcdc;
}

.ui-attr2{
	padding-left: 20px;
	border-bottom: 1px dashed #999;
	padding-top: 5px;
	padding-bottom: 15px;
	color: #999999;
}
.ui-attr2 li{
	float: left;
	height: 35px;
	line-height: 35px;
}
.ui-attr2 li.l1{
	width: 50%;
}
.ui-attr2 li .icon-dunpai{
	display: inline-block;
	width: 15px;
	height: 17px;
	background: url("../../images/detail/icon-dunpai.png") no-repeat;
	vertical-align: -3px;
	margin-right: 5px;
}
.ui-attr2 li .icon-wendang{
	display: inline-block;
	width: 15px;
	height: 17px;
	background: url("../../images/detail/icon-wendang.png") no-repeat;
	vertical-align: -3px;
	margin-right: 5px;
}
.ui-attr3{
	padding-left: 20px;
	padding-top: 10px;
	color: #666666;
}
.ui-attr3 li{
	float: left;
	height: 30px;
	line-height: 30px;
}
.ui-attr3 li.l1{
	width: 65%;
}
.ui-attr3 .num{
	height: 30px;
    left: 130px;
    line-height: 30px;
    position: absolute;
    top: 2px;
    color: #00afeb;
    font-size: 12px;
}


/* 未登录 */
.ui-nologin a{
	margin-top: 80px;
	width: 100%;
	padding: 0px;
}

/* 实名认证 */
.ui-authName a{
	margin-top: 80px;
	width: 100%;
	padding: 0px;
}


/* 已登录 */
.ui-login p.item{
	height: 30px;
	line-height: 30px;
	text-align: left;
	margin-bottom: 15px;
	font-size: 16px;
}
.ui-login p.item .red{
	color: #f15000;
}
.ui-login .item2{
	font-size: 16px;
	text-align: left;
	padding-top: 10px;
	position: relative;
}
.ui-login .error{
	font-size: 12px;
	color: #f15000;
	position: absolute;
	top: 55px;
}
.ui-login .item2{
	position: relative;
	margin-bottom: 35px;
}
.ui-login .item2 .ui-input{
	height: 20px;
	padding: 10px 28px 10px 13px;
	width: 230px;
	border: 1px solid #e9eaec;
}
.ui-login .item2 span.yuan{
	position: absolute;
	right: 10px;
    top: 18px;
}
.ui-login p.btn .ui-button{
	padding: 0px;
	width: 100%;
}

/* 已流标 */
.ui-liubiao p.item{
	height: 30px;
	line-height: 30px;
	text-align: left;
	margin-bottom: 15px;
	font-size: 16px;
}
.ui-liubiao p.item2{
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	height: 75px;
	line-height: 75px;
	margin-bottom: 15px;
	color: #d4d4d4;
}
.ui-liubiao p.item a.red{
	color: #f15000;
}
.ui-liubiao p.btn .ui-button{
	width: 100%;
	padding: 0px;
	background: #d4d4d4;
}

/* 已满标 */
.ui-manbiao p.item{
	height: 30px;
	line-height: 30px;
	text-align: left;
	margin-bottom: 15px;
	font-size: 16px;
}
.ui-manbiao p.item2{
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	height: 75px;
	line-height: 75px;
	margin-bottom: 15px;
	color: #a32d08;
}
.ui-manbiao p.item a.red{
	color: #f15000;
}
.ui-manbiao p.btn .ui-button{
	width: 100%;
	padding: 0px;
}

/* 已还清 */
.ui-huanqing p.item{
	height: 30px;
	line-height: 30px;
	text-align: left;
	margin-bottom: 15px;
	font-size: 16px;
}
.ui-huanqing p.item2{
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	height: 75px;
	line-height: 75px;
	margin-bottom: 15px;
	color: #c2c3d2;
}
.ui-huanqing p.item a.red{
	color: #f15000;
}
.ui-huanqing .ui-button-yhq{
	width: 270px;
}
.ui-huanqing .ui-button-yhq span.statusR{
	width: 225px;
}

/* 还款中 */
.ui-huankuanzhong p.item{
	height: 30px;
	line-height: 30px;
	text-align: left;
	margin-bottom: 15px;
	font-size: 16px;
}
.ui-huankuanzhong .item2{
	text-align: center;
	margin-bottom: 25px;
	padding-top: 10px;
}
.ui-huankuanzhong p.p1{
	font-size: 24px;
	font-weight: bold;
	color: #454985;
}
.ui-huankuanzhong p.p2{
	color: #999999;
}
.ui-huankuanzhong p.item a.red{
	color: #f15000;
}
.ui-huankuanzhong .ui-button-hkz{
	width: 270px;
}
.ui-huankuanzhong .ui-button-hkz span.statusR{
	width: 225px;
}

/* 即将发布 */
.ui-jjfb p.item{
	height: 30px;
	line-height: 30px;
	text-align: left;
	margin-bottom: 15px;
	font-size: 16px;
}
.ui-jjfb .item2{
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	height: 75px;
	line-height: 75px;
	margin-bottom: 15px;
	color: #c2c3d2;
}
.ui-jjfb p.item a.red{
	color: #f15000;
}

.ui-jjfb .ui-button{
	padding: 0px;
	width: 100%;
}

/* sorry */
.ui-sorry{
	padding-top: 20px;
	padding-left: 30px;
}

.ui-detailCon{
	border:1px solid #eeeeee;
}
/* tab样式 */
.ui-tab .tabMenu{
	background-color: #f9f9fb;
}
.ui-tab .tabMenu li{
    border-right: 1px solid #ffffff;
    cursor: pointer;
    float: left;
    height: 58px;
    line-height: 58px;
    padding: 0 30px;
    text-align: center;
    font-size: 16px;
    color: #3d3d3d;
}
.ui-tab .tabMenu li.current{
	background-color: #fff;
    border-top: 2px solid #ff5900;
    height: 57px;
    line-height: 57px;
    color: #ff5a00;
}
.ui-detailCon .tit{
	padding-top: 30px;
}
.ui-detailCon .tit span{
	color: #666666;
	font-weight: bold;
	display: inline-block;
	padding-left: 10px;
	background: url("../../images/detail/red_line.png") no-repeat 0 4px;
}
/* con */
.ui-detailCon .con{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 30px;
	line-height: 30px;
	border-bottom: 1px solid #dcdcdc;
}
.ui-detailCon .con.last{
	border:none;
	padding-top: 30px;
}

/* 表格样式 */
.ui-table{
	width: 100%;
}
.ui-table th{
	background: #f4f4f4;
	font-size: 16px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.ui-table td{
	border-bottom: 1px solid #ebecee;
	font-size: 16px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
.ui-table td span.status{
	color: #c0a353;
}

/* 材料补充效果 */
.ui-slider .slide-content{
	height: 200px;
	width: 842px;
}
.ui-slider .JQ-slide-nav{
	float: left;
}
.ui-slider .JQ-slide-nav a{
	display: block;
	height: 67px;
	margin-top: 54px;
	text-decoration: none;
	width: 43px;
}
.ui-slider .JQ-slide-nav a.prev{
	background: url(../../images/detail/left.png) no-repeat;
}
.ui-slider .JQ-slide-nav a.next{
	background: url(../../images/detail/right.png) no-repeat;
}
.ui-slider .wrap{
	float: left;
	height: 172px;
	overflow: hidden;
	position: relative;
	width: 790px;
}
.ui-slider .JQ-slide-content{
	width: 10000px;
}
.ui-slider ul li{
	border: 1px solid #b0b0b0;
	cursor: pointer;
	float: left;
	height: 170px;
	margin-left: 12px;
	margin-right: 12px;
	width: 238px;
}