/*
* @description: 首页模块样式库  
* @author: wyf  
* @email: 707366656@qq.com
* @time: 2015-08-29
*/

/* 焦点图 */
.focus-slider{
	height: 330px;
	background-color: red
}
.mask-layer-wrap{
	margin: 0 auto;
	position: relative;
	width: 1000px;
}
.mask-layer{
	width: 300px;
	height: 300px;
	filter: alpha(Opacity=80);
  	-moz-opacity: 0.8;
	opacity: 0.8;
  	background-color: #ffffff;
	z-index: 90;
	position: absolute;
	position: absolute;
	top: -315px;
	right: 0px;
}
.mask-layer-join{
	position: absolute;
	top: -315px;
	right: 0px;
	width: 300px;
	height: 300px;
	z-index:99;
}
.mask-layer-join .red{
	color: #e9460b;
}
.mask-layer-join .lilv{
	font-size: 50px;
	font-family: "Arial";
	font-weight: bold;
}
.mask-layer-join .btn-join{
	display: block;
	height: 45px;
	line-height: 45px;
	background-color: #e9460b;
	color: #ffff00;
	font-size: 22px;
	text-align: center;
	border-radius: 3px;
	vertical-align: middle;
	border-bottom: 5px solid #ed6334;
}

/* 标题 */
.ui-title{
	height: 61px;
	line-height: 61px;
	border-bottom: 1px solid #cccccc;
}
.ui-title .more{
	float: right;
	margin-right: 10px;
	font-size: 12px;
	color: #4c4949;
}
.ui-title h2{
	padding-left: 27px;
	font-size: 18px;
	color: #4c4949;
}
.ui-title h2 i.icon-notic{
	display: inline-block;
	width: 16px;
	height: 18px;
	background: url("../../images/index/icon-notic.png") no-repeat;
	margin-right: 10px;
	vertical-align: -2px;
}

/* 公告 */
.ui-notic{
	width: 300px;
	height: 245px;
	float: right;
}
.ui-notic-list{
	padding-left: 27px;
	padding-right: 10px;
	padding-top: 20px;
}
.ui-notic-list li{
	line-height: 25px;
}

/* 平台介绍 */
.ui-intro{
	float: left;
	width: 685px;
	height: 245px;
}
.ui-intro .item{
	float: left;
	width: 228px;
	background: url("../../images/index/intro-line.png") no-repeat right 45px;
}
.ui-intro .item.last{
	background: none;
}
.ui-intro .div-icon{
	padding-left: 68px;
	padding-top: 30px;
}
.ui-intro .icon-intro1{
	display: inline-block;
	width: 104px;
	height: 104px;
	background: url("../../images/index/icon-intro1.png") no-repeat;
}
.ui-intro .icon-intro2{
	display: inline-block;
	width: 104px;
	height: 104px;
	background: url("../../images/index/icon-intro2.png") no-repeat;
}
.ui-intro .icon-intro3{
	display: inline-block;
	width: 104px;
	height: 104px;
	background: url("../../images/index/icon-intro3.png") no-repeat;
}
.ui-intro .info{
	padding-left: 55px;
	padding-top: 10px;
}
.ui-intro .info h3{
	font-size: 18px;
	color: #00afeb;
	font-weight: normal;
}
.ui-intro .info p{
	color: #707070;
	font-size: 12px;
}

/* 新手专享 */
.ui-newcomer{
	height: 128px;
	border: 1px solid #f6a29c;
	background: #fcfaf6;
	position: relative;
	cursor: pointer;
}
.ui-newcomer .icon-newcomer{
	position: absolute;
	left: 10px;
	top: -6px;
	display: inline-block;
	width: 39px;
	height: 94px;
	background: url("../../images/index/icon-xinshou.png") no-repeat;
}
.ui-newcomer .icon-newsimg{
	position: absolute;
	left: 55px;
	top: 6px;
	display: inline-block;
	width: 208px;
	height: 118px;
	background: url("../../images/index/icon-newsimg.png") no-repeat;
}
.ui-newcomer .icon-newline{
	display: inline-block;
	width: 1px;
	height: 111px;
	position: absolute;
	background: url("../../images/index/news_line.png") no-repeat;
}
.ui-newcomer .icon-newline1{
	top: 8px;
	left: 285px;
}
.ui-newcomer .icon-newline2{
	top: 8px;
	right: 250px;
}
.ui-newcomer .item{
	padding-left: 313px;
}
.ui-newcomer .item-info{
	padding-top: 23px;
}
.ui-newcomer .item-info .tit{
	font-size: 18px;
	color: #4c4949;
}
.ui-newcomer .item-info .tit .icon-new{
	display: inline-block;
	width: 22px;
	height: 22px;
	background: url("../../images/index/icon-new.png") no-repeat;
	margin-right: 7px;
	vertical-align: -3px;
}
.ui-newcomer .item-info .attr{
	color: #7c7c7c
}
.ui-newcomer .item-info .attr .red{
	color: #fa4f19;
	font-size: 24px;
}
.ui-newcomer .item-info .attr span{
	margin-right: 15px;
}
.ui-newcomer .item-info .attr .icon-ensure{
	display: inline-block;
	width: 17px;
	height: 18px;
	background: url("../../images/index/icon-ensure2.png") no-repeat;
	margin-right: 7px;
	vertical-align: -5px;
}
.ui-newcomer .item-handle{
	width: 210px;
}
.ui-newcomer .item-handle .btn-invest{
	width: 155px;
}
.ui-newcomer .item-handle .jindu{
	color: #00afeb;
	font-size: 12px;
}
.ui-newcomer .item-handle .link {
	text-align: right;
	margin-right: 8px;
	padding-top: 5px;
}
.ui-newcomer .item-handle .link a{
	color: #7c7c7c;
	font-size: 12px;
}

/* 自动理财 */
.ui-automatic .title{
	background: #ffe2df;
    border-radius: 4px 4px 0 0;
    height: 66px;
    overflow: hidden;
}
.ui-automatic .name {
    background: rgba(0, 0, 0, 0) url("../../images/index/time.png") no-repeat scroll 0px 10px;
    float: left;
    height: 66px;
    padding-left: 100px;
    padding-right: 19px;
}
.ui-automatic .name > p {
    color: #ed5f4e;
    font-size: 20px;
    line-height: 26px;
    padding-top: 12px;
}
.ui-automatic .name > p + p {
    color: #ed5f4e;
    font-size: 12px;
    line-height: 16px;
    padding-top: 0;
}
.ui-automatic .border {
    border-right: 1px solid #ffd7d2;
    float: left;
    height: 36px;
    margin-top: 15px;
}
.ui-automatic .titleintro {
    float: left;
    padding-left: 18px;
}
.ui-automatic .titleintro > p {
    font-size: 16px;
    line-height: 26px;
    padding-top: 12px;
}
.ui-automatic .titleintro > p > a {
    color: #ed5f4e;
    text-decoration: none;
}
.ui-automatic .titleintro > p > a:hover {
    color: #ed5f4e;
    text-decoration: underline;
}
.ui-automatic .titleintro > p + p {
    color: #ff9d91;
    font-size: 12px;
    line-height: 16px;
    padding-top: 0;
}
.ui-automatic .title .more {
    background: rgba(0, 0, 0, 0) url("../images/index/morearrbg.png") no-repeat scroll right -113px;
    color: #fe9588;
    float: right;
    font-size: 14px;
    line-height: 66px;
    margin-right: 5px;
    padding-right: 11px;
    text-decoration: none;
}
.ui-automatic .title .more:hover {
    background-position: right -183px;
    color: #ed5f4e;
}
.ui-automatic .title .word {
    color: #ff9d91;
    float: right;
    font-size: 12px;
    line-height: 66px;
    padding-right: 13px;
}
.ui-automatic li{
	float: left;
	height: 230px;
	width: 248px;
	background: #ffffff;
	position: relative;
	border-radius: 0 0 0 4px;
	border: 1px solid #e9e9e9;
}
.ui-automatic li:hover{
	box-shadow: 0 4px 6px #c4c4c4;
    cursor: pointer;
    position: relative;
    z-index: 10;
}
.ui-automatic li.last{
	margin-right: 0px;
}
.ui-automatic .tit{
	height: 59px;
	line-height: 59px;
	border-bottom: 1px solid #fcfaf6;
	color: #f6a29c;
	padding-left: 20px;
}
.ui-automatic .tit.day30{
	background: url("../../images/index/title30bg.jpg") no-repeat 28px 20px;
	padding-left: 65px;
}
.ui-automatic .tit.day90{
	background: url("../../images/index/title90bg.jpg") no-repeat 28px 20px;
	padding-left: 65px;
}
.ui-automatic .tit.day180{
	background: url("../../images/index/title180bg.jpg") no-repeat 28px 20px;
	padding-left: 75px;
}
.ui-automatic .tit.day360{
	background: url("../../images/index/title360bg.jpg") no-repeat 28px 20px;
	padding-left: 75px;
}
.ui-automatic .tit .span-c{
	color: #999;
}
.ui-automatic .bottom {
	height: 58px;
	line-height: 58px;
	padding-right: 25px;
	position: absolute;
	bottom: 0px;
	width: 223px;
	border-top: 1px solid #e9e9e9;
}
.ui-automatic .bottom .btn{
	padding-left: 25px;
	line-height: 52px;
}
.ui-automatic .bottom .btn .ui-button{
	width: 165px;
}
.ui-automatic .bottom .start-time{
	color: #7c7c7c;
}
.ui-automatic .bottom .icon-time{
	display: inline-block;
	width: 58px;
	height: 50px;
	background: url("../../images/index/icon-time.png") no-repeat 15px 12px;
	border-right: 1px solid #e9e9e9;
	margin-top: 4px;
}
.ui-automatic .con{
	text-align: center;
	padding-top: 20px;
}
.ui-automatic .con .syl{
	color: #e9460b;
	display: inline-block;
}
.ui-automatic .con .syl .span1{
	font-size: 60px;
	float: left;
	line-height: 60px;
}
.ui-automatic .con .syl .div1{
	float: left;
	padding-top: 4px;
	text-align: left;
}
.ui-automatic .con .syl .div1 span{
	font-size: 33px;
	line-height: 30px;
}
.ui-automatic .con .p1{
	font-size: 16px;
	color: #999999;
}

/* 直投项目 */
.ui-direct .tit{
	height: 89px;
	line-height: 89px;
}
.ui-direct .tit h3{
	padding-left: 30px;
	color: #999999;
	font-weight: normal;
}
.ui-direct .tit h3 span{
	font-size: 18px;
	color: #4c4949;
	font-weight: bold;
	margin-right: 10px;
}
.ui-direct .tit .more{
	font-size: 12px;
	color: #999999;
}
.ui-direct .list{
	margin-bottom: -12px;
	overflow: hidden;
}
.ui-direct .list li{
	width: 237px;
	height: 303px;
	background: #ffffff;
	position: relative;
	float: left;
	margin-right: 12px;
	margin-bottom: 12px;
	border: 2px solid #ffffff;
}
.ui-direct .list li:hover{
	border: 2px solid #d4d4d4;
}
.ui-direct .list li .zhejiao{
	width: 19px;
	height: 19px;
	background: url("../../images/index/zhejiao.png") no-repeat;
	position: absolute;
	top: 0px;
	right: 0px;
}

.ui-direct .list .name{
	height: 65px;
	padding-top: 20px;
}
.ui-direct .list .name span{
	margin-left: 25px;
	color: #00afeb;
	font-size: 12px;
}
.ui-direct .list .name h3{
	font-size: 16px;
	font-weight: normal;
	padding-left: 25px;
	padding-right: 25px;
	margin-bottom: 3px;
}
.ui-direct .list .attr{
	border-top: 1px solid #d4d4d4;
	border-bottom: 1px solid #d4d4d4;
	height: 75px;
}
.ui-direct .list .attr .attr-c{
	width: 50%;
	float: left;
	text-align: center;
	color: #7c7c7c;
	font-size: 12px;
	padding-top: 15px;
}
.ui-direct .list .attr .attr-c .red{
	color: #e9460b;
	font-size: 28px;
	line-height: 30px;
}
.ui-direct .list .attr .attr-c .blank{
	font-size: 28px;
	color: #7c7c7c;
	line-height: 30px;
}
.ui-direct .list .p1{
	color: #999999;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
.ui-direct .list .p1 .icon-ensure{
	display: inline-block;
	width: 14px;
	height: 15px;
	background: url("../../images/index/icon-ensure.png") no-repeat;
	vertical-align: -3px;
	margin-right: 8px;
}
.ui-direct .list .btn-box,.ui-direct .list .jindu,.ui-direct .list .time{
	padding-left: 22px;
	padding-right: 22px;
}
.ui-direct .list .jindu{
	color: #00afeb;
	font-size: 12px;
	margin-bottom: 10px;
}
.ui-direct .list .ui-button{
	width: 165px;
}
.ui-direct .list .time{
	color: #00afeb;
	line-height: 25px;
}
.ui-direct .list .time span{
	display: inline-block;
	width: 27px;
	height: 25px;
	background-color: #eceff4;
	text-align: center;
	line-height: 25px;
	border-radius: 3px;
	font-size: 20px;
	font-family: "Arial";
	margin-left: 4px;
	margin-right: 4px;
}
.ui-direct .list .time .day{
	margin-left: 0px;
}
.ui-direct .list .icon-full{
	display: inline-block;
	width: 67px;
	height: 65px;
	background: url("../../images/index/icon-full.png") no-repeat;
	position: absolute;
	top: 90px;
	left: 88px;
}
.ui-direct .list .icon-huanqing{
	display: inline-block;
	width: 67px;
	height: 65px;
	background: url("../../images/index/icon-huanqing.png") no-repeat;
	position: absolute;
	top: 90px;
	left: 88px;
}

/* 媒体报道 */
.ui-news{
	width: 685px;
	height: 373px;
	float: left;
}
.ui-news .icon-news{
	display: inline-block;
	width: 24px;
	height: 16px;
	background: url("../../images/index/icon-news.png") no-repeat;
	margin-right: 10px;
	vertical-align: -1px;
}
.ui-news .news-img{
	padding-top: 18px;
	padding-left: 42px;
}
.ui-news .news-img li{
	float: left;
	margin-right: 30px;
}
.ui-news .news-list{
	padding-left: 42px;
	padding-right: 55px;
	padding-top: 10px;
	padding-bottom: 20px;
}
.ui-news .news-list li{
	line-height: 25px;
}
.ui-news .news-media{
	border-top: 1px solid #d4d4d4;
	padding-left: 25px;
	padding-top: 13px;
}
.ui-news .news-media li{
	float: left;
	margin-right: 14px;
}

/* 项目预告 */
.ui-predict{
	width: 300px;
	height: 373px;
	float: right;
}
.ui-predict .icon-predict{
	display: inline-block;
	width: 19px;
	height: 17px;
	background: url("../../images/index/icon-predict.png") no-repeat;
	margin-right: 10px;
	vertical-align: -1px;
}
.ui-predict-list{
	padding-left: 27px;
	padding-right: 10px;
	padding-top: 20px;
}
.ui-predict-list li{
	line-height: 25px;
}

/* 合作伙伴 */
.ui-cooperation{
	height: 137px;
}
.ui-cooperation .ui-title{
	height: 50px;
	line-height: 50px;
}
.ui-cooperation-list{
	padding-top: 23px;
	padding-left: 40px;
}
.ui-cooperation-list li{
	float: left;
	margin-right: 25px;
}